services:
  catalog.api:
    image: ${DOCKER_REGISTRY-}catalogapi
    build:
      context: .
      dockerfile: src/services/catalog/Catalog.API/Dockerfile

    ports:
     - "8080:8080"
    depends_on:
     - catalogdb
    environment:
     - ASPNETCORE_URLS=http://+:8080
     - MongoSettings__Connection=mongodb://catalogdb:27017
     - MongoSettings__DatabaseName=CatalogDb

  catalogdb:
    image: mongo
    container_name: catalogdb
    ports:
      - "27017:27017"
    volumes:
      - catalogdbdata:/data/db
 
  basketdb:
    image: redis:alpine
    container_name: basketdb
    restart: always
    ports:
      - "6379:6379"
  basket.api:
    image: ${DOCKER_REGISTRY-}basketapi
    build:
      context: .
      dockerfile: src/services/basket/Basket.API/Dockerfile

    ports:
     - "8081:8080"
    depends_on:
     - basketdb
    environment:
     - ASPNETCORE_URLS=http://+:8080
     - CacheSettings__Connection=basketdb:6379

  portainer:
    image: portainer/portainer-ce
    container_name: portainer
    restart: always
    ports:
      - "8080:8080"
      - "9000:9000"
    volumes:
      - portainer_data:/data

volumes:
  catalogdbdata:
  portainer_data:
  
